export const OAuthSettings = {
  clientId: 'Enter_the_Application_Id_Here',
  authority: 'Enter_the_Cloud_Instance_Id_HereEnter_the_Tenant_Info_Here',
  redirectUri: 'Enter_the_Redirect_Uri_Here',
  scopes: [
    'user.read',
    'openid',
    'profile',
  ],
};
